*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 246, 255);
}
.wrapper textarea{
    height: 350px;
    resize: none;
    padding: 8px 13px;
    border: 1px solid #ccc;
    background-color: rgb(242, 237, 237);
}
.wrapper{
    width: 450px;
    padding: 100px;
    background-color: rgb(31, 30, 30);
    
}
.save-py{
    display: flex;
    width: 190px;
    border-radius: 7px;
    background-color: bisque;
}

#btnRun{
    display: none;
}